<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49697631303-202vh4ll4btnir259avcu828srbqcfl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49697631303-202vh4ll4btnir259avcu828srbqcfl9</string>
	<key>API_KEY</key>
	<string>AIzaSyDMkiz7X_Fcn-nJSsMnagGEcDwWA9YexEo</string>
	<key>GCM_SENDER_ID</key>
	<string>49697631303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.convertLangApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-397f5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-397f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49697631303:ios:0547812ac56eb3b432d562</string>
</dict>
</plist>